.DS_Store
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.orig
*.local
*.session
*.log
ck.txt

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.env.local_back
